@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --bgColorBlue: #0866ff;
  --fonteColorWhite: #f7f7f7;
  --bgColorWhite: #f1f1f1;
  --fonteColorDark: #262626;
  --fonteColorGray: #aaa;
  --fonteColorRed: #ff0000;
  --fonteColorGreen: #00a884;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bgColorBlue);
  padding: 0 2%;
}

.conteiner {
  width: 100%;
  max-width: 1100px;
  height: 500px;
  background-color: var(--bgColorWhite);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.conteiner .bg-hero {
  width: 50%;
  height: 100%;
  background-image: url("./img/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.conteiner .bg-hero .text-hero {
  background-color: rgba(0, 0, 255, 0.3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner .bg-hero .text-hero h1 {
  color: var(--fonteColorWhite);
  font-size: 5rem;
  font-weight: 700;
}

.conteiner .bg-hero .text-hero p {
  color: var(--fonteColorWhite);
  font-size: 1rem;
  font-weight: 400;
}

.conteiner .bg-hero .text-hero p a {
  background-color: var(--bgColorWhite);
  color: var(--fonteColorDark);
  padding: 6px 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.conteiner .form {
  width: 50%;
  padding: 0 10px;
}

.conteiner .form form {
  gap: 1.5rem;
}

.conteiner .form form,
.conteiner .form form .form-control {
  display: flex;
  flex-direction: column;
}

.conteiner .form form .form-control label {
  color: var(--fonteColorDark);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.conteiner .form form .form-control .input-control {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-radius: 6px;
  padding: 0 6px;
  border: 1px solid var(--fonteColorDark);
}

.conteiner .form form .form-control .input-control i {
  font-size: 1.2rem;
  color: var(--fonteColorDark);
}

.conteiner .form form .form-control .input-control input {
  margin-left: 5px;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1rem;
  color: var(--fonteColorDark);
}

.conteiner .form form .form-control .input-control input::placeholder {
  color: var(--fonteColorGray);
}

.conteiner .form form .form-control label,
.conteiner .form form .form-control .msg {
  margin-left: 1px;
}

.conteiner .form form .form-control .msg {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.conteiner .form form button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--bgColorBlue);
  color: var(--fonteColorWhite);
  border: 0;
  outline: 0;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  cursor: pointer;
}

.conteiner .form form button:hover {
  opacity: 0.9;
}

.conteiner .form form h2,
.conteiner .form form p {
  display: none;
}

@media (max-width: 768px) {
  .conteiner {
    height: 570px;
  }

  .conteiner .bg-hero {
    display: none;
  }

  .conteiner .form {
    width: 100%;
  }

  .conteiner .form form h2,
  .conteiner .form form p {
    display: block;
  }

  .conteiner .form form h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--fonteColorDark);
  }

  .conteiner .form form p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--fonteColorDark);
  }

  .conteiner .form form p a {
    color: var(--bgColorBlue);
    text-decoration: none;
  }
}
